[Unit]
Description=Gnatwren metrics and monitoring agent
After=network-online.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/local/bin/gwagent -config=/etc/gnatwren/agent-config.json

[Install]
WantedBy=multi-user.target
