[Unit]
Description=Gnatwren metrics and monitoring agent
After=network-online.target

[Service]
Type=simple
User=nobody
Environment="CONFIG_LOC=/etc/gnatwren/gwagent-config.json"
ExecStart=/usr/local/bin/gwagent -config=${CONFIG_LOC}

[Install]
WantedBy=multi-user.target
